In [1]:
import pandas as pd
import pdb

In [2]:
def mortgage_calculator():
    
    loan, term, interest_rate, num_payments, apr = gather_info()

    #calculates total debt
    debt = loan + loan * apr * term

    #calculate the variables for the amortization formula
    n = 12  #number of compunding per year
    p= num_payments / term
   
    #amortization formula (periodic rate)
    rate = ((1+(apr/n))**(n/p)) -1

    #calculates the monthly payments
    periodic_payment = loan * (rate*(1+rate)**num_payments) / (((1+rate)**num_payments) -1)

    balance = loan
    #create an amortization chart
    amortization_table = pd.DataFrame(columns= ['Payment_Count', 'Payment_Made', 'Principal Paid', 'interest_rate','Interest_Paid' , 'Total_Paid','Balance' ])
    
    #pdb.set_trace()

    amortization_table.loc[0] = [0,periodic_payment,0,rate,0,0,balance]  #first row of the table is the         starting balance
    
    for i in range(1, num_payments+1):
        #make a payment
        balance, principal_paid, interest_paid = make_payment(balance, periodic_payment, rate)
        amortization_table.loc[i] = [i,periodic_payment,principal_paid,rate,interest_paid,i*periodic_payment,balance]
    
    amortization_table = amortization_table.round(decimals=2)
    return amortization_table

In [3]:
# gathers mortgage info: loan, term, apr, payment frequency
def gather_info():

    try:
        loan=int(input('Loan Amount : '))
        term=int(input('Loan Term in Years : '))
        apr=float(input('Annual interest percentage : ')) * 0.01
        payment_frequency=int(input('Payment frequency (Enter 1 for monthly, 2 for Annually, 3 for Daily) :'))

        if payment_frequency == 1:
            num_payments = 12 * term
            interest_rate = apr/ 12

        elif payment_frequency == 2:
            num_payments = term
            interest_rate = apr

        elif payment_frequency == 3:
            num_payments = 365 * term
            interest_rate = apr / 365
        else:
            print('You made an invalid entry. 1 for monthly, 2 for yearly, 3 for daily payments')    
    
        return loan, term, interest_rate, num_payments, apr  #returns loan, term, apr, num_payments

    except:
        gather_info()

In [4]:
def make_payment(balance, periodic_payment, rate ):

    #calculate the interest paid
    interest_paid = balance * rate
    principal_paid = periodic_payment - interest_paid
    balance = balance - principal_paid

    return balance, principal_paid, interest_paid

In [6]:
mortgage_calculator()

,Payment_Count,Payment_Made,Principal Paid,interest_rate,Interest_Paid,Total_Paid,Balance
0,0.0,179.69,0.00,0.0,0.00,0.00,10000.00
1,1.0,179.69,154.69,0.0,25.00,179.69,9845.31
2,2.0,179.69,155.07,0.0,24.61,359.37,9690.24
3,3.0,179.69,155.46,0.0,24.23,539.06,9534.78
4,4.0,179.69,155.85,0.0,23.84,718.75,9378.93
...,...,...,...,...,...,...,...
56,56.0,179.69,177.46,0.0,2.23,10062.47,714.28
57,57.0,179.69,177.90,0.0,1.79,10242.15,536.38
58,58.0,179.69,178.35,0.0,1.34,10421.84,358.03
59,59.0,179.69,178.79,0.0,0.90,10601.53,179.24
60,60.0,179.69,179.24,0.0,0.45,10781.21,0.00