In [1]:
#automates the multiple queries
#for the distance between two cities

#import libraries
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
import re

In [2]:
#call the a browser driver
driver = webdriver.Chrome(executable_path='C:/Users/galipbak/iCloudDrive/CODING/Resource_Archive/browser_drivers/chromedriver.exe')
#get the bing map
driver.get('https://www.bing.com/maps/directions')

In [3]:
#set the globalwait time
wait = WebDriverWait(driver, 10)
driver.implicitly_wait(10)

In [4]:
#user inputs
destination_table = pd.DataFrame(columns=['city1','city2','distance'])
#cities
#city1='boston'
#city2='new york'

#create a sample data frame
destination_table['city1']=['boston', 'manhattan', 'seattle']
destination_table['city2']=['houston', 'dallas', 'miami']
destination_table

       city1    city2 distance
0     boston  houston      NaN
1  manhattan   dallas      NaN
2    seattle    miami      NaN

In [5]:
#travel modes
travel_mode= 1 #input('Please select a mode of transport: 1 , 2, or 3 .')

In [6]:
#define a search function that streamline the search process
#choose the travel mode
def mode_transport(travel_mode=1):
    while True:
        if travel_mode==1 or travel_mode=='driving':
            driver.find_element_by_xpath("//a[@class='dirBtnDrive dirBtnNormal']").click()
            break
        elif travel_mode==2 or travel_mode=='public transport':
            driver.find_element_by_xpath("//a[@class='dirBtnTransit dirBtnNormal']").click()
            break
        elif travel_mode==3 or travel_mode=='walking':
            driver.find_element_by_xpath("//a[@class='dirBtnWalk dirBtnNormal']").click()
            break
        else:
            print('Please select a correct mode of transport: 1 , 2, or 3 .')
            print('acceptable options are: driving, public transport, and walking')

In [7]:
# define one loop of distance calculation
def distance_query_min(city1, city2):
    #get the bing map
    driver.implicitly_wait(10)
    #driver.get('https://www.bing.com/maps/directions')
   
    #enter the cities to the search box
    driver.find_element_by_css_selector('input[title="From"]').clear()
    driver.find_element_by_css_selector('input[title="From"]').send_keys(city1)
    driver.find_element_by_css_selector('input[title="To"]').clear()
    driver.find_element_by_css_selector('input[title="To"]').send_keys(city2)
    driver.find_element_by_xpath('//a[@class="dirBtnGo commonButton"]').click()

    #save the distance elements to a list
    distance = driver.find_elements_by_xpath("//div[@class='distanceLine']")

    #take the milage from each element in the list
    distance_list = []
    for i in distance:
        distance_list.append(int(i.text.split()[0]))

    #return the minum distance
    return min(distance_list)

In [8]:
#choose the travel mode
mode_transport(travel_mode)

In [9]:
#Call the functions for each pair of cities
for i in destination_table.index:
    city1 = destination_table.iloc[i]['city1']
    city2 = destination_table.iloc[i]['city2']
    destination_table.iloc[i]['distance'] = distance_query_min(city1,city2)

In [10]:
destination_table

       city1    city2 distance
0     boston  houston     1843
1  manhattan   dallas     1552
2    seattle    miami     3295